{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="container">

        <div class="row">
            <div class="col-6">
                <img src="{{ vehicle.image.url }}" class="vehicle-image" alt=""/>
            </div>
            <div class="col-6 d-flex flex-md-column gap-md-3">

                <h1>{{ vehicle.name }}</h1>

                <span>Описание: {{ vehicle.description }}</span>

                <span>Цена: {{ vehicle.price }}000 руб</span>

                <span>Категория: {{ vehicle.category }}</span>

                <a href="/" class="return-btn btn btn-primary my-4 w-25">
                    Назад
                </a>

            </div>
        </div>

    </main>
{% endblock content %}